@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

/* Tabac G1 */
@font-face {
  font-family: 'Tabac';
  src: local('Tabac G1 SemiBold'), local('Tabac-G1-SemiBold'),
    url('../assets/fonts/tabac/TabacG1SemiBold.woff2') format('woff2'),
    url('../assets/fonts/tabac/TabacG1SemiBold.woff') format('woff'),
    url('../assets/fonts/tabac/TabacG1SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Styles */

@layer base {
  body {
    @apply relative font-lato text-brand-dark;
  }
}

.h-base {
  min-height: calc(100vh - 4.5rem);
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 0px;
}
